* {
    font-family: sans-serif;
}
header {
    width: 100%;
    background-color: #f8f7f4;
    display: inline-block;
    vertical-align: top;
   
} 

header nav {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-left: 15%;
    margin-top: 7%;
    letter-spacing: 2px;
}

body {
    background-color: #f8f7f4;
    box-sizing: border-box;
    width: 100%;
  
}

nav a {
    margin-left: 20px;
    color: #ba4b2f;
    cursor: pointer;
}

nav a:hover {
    color: cadetblue;
}


.intro {
    background-image: url(https://i.imgur.com/l8FRPIa.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-top: 0;
   }

.intro h1 {
    color: #ba4b2f;
    text-align: center;
    padding-top: 20%;
    margin-right: 53%;
    line-height: 80px;
}


.intro p {
    color: #ba4b2f ;
    text-align: center;
    padding-top: 10%;
    margin-right: 53%;
    padding-bottom: 10%;
    
}

#about-me {
    background-image: url(https://i.imgur.com/djZ3eZV.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 25%;
   
}

#about-me p{
    margin-left: 50%;
    padding-top: 20%;
  margin-right: 10%;
    color: #f8f7f4;
    text-align: left;
    font-size: larger;
    max-width: 430px;
    line-height: 30px;
}
#about-me button {
    margin-left: 50%;
    font-size: 20px;
    border-radius: 20px;
    border: burlywood solid 3px;
}
#about-me a {
    color: #ba4b2f;
    text-decoration: none;
}
#about-me button:hover {
    color:#30b0b4;
}

#about-me button:focus {
    color: #85cfad;
}


#My-works {
    padding-top: 15%;
    text-align: center;
    background-color: #efa593;
    color: #f8f7f4;
    padding-bottom: 20%;
    
    

}

#My-works img {
    max-width: 300px;
    text-align: center;
    vertical-align: top;

}

#My-works h1 {
    text-align: center;
   padding-top: 5%;
   color: #2b696b   ;

}

table td {
    padding-right: 60px;
    padding-left: 60px;
}

html { scroll-behavior: smooth; } 



  footer {
      background-color: #43898b;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #f8f7f4
      ;
  }

  footer a   {
      color: #f8f7f4;
      margin-left: 25px;
  }
